<button class="dropdown" data-toggle="dropdown">新消息<span class="badge badge-warning">42</span>
</button>
<ul role="menu" class="dropdown-menu dropdown-menu-right">
    <li><a>订单201512034有新回复</a>
    </li>
    <li><a>订单201512034有新回复</a>
    </li>
    <li><a>订单201512034有新回复</a>
    </li>
</ul>