<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>H+ 后台主题UI框架 - 任务清单</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico"> 
    <link href="H/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="H/css/font-awesome.css?v=4.4.0" rel="stylesheet">

    <link href="H/css/animate.css" rel="stylesheet">
    <link href="H/css/style.css?v=4.0.0" rel="stylesheet"><base target="_blank">
    <link rel="stylesheet" type="text/css" href="stylesheets/accountManage.css">

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class = 'col-sm-4 col-sm-offset-4'>
            <div class="input-group" id = "customerSelect">
                <span class="input-group-addon">客户名称</span>
                    <input type="text" class="form-control" id="customer">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                          <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right" role="menu">
                      </ul>
                    </div>
              </div>
          </div>
          <a href = "javascript:void(0);" class = "btn btn-primary col-sm-offset-7" id = "nextBtn">下一步</a>
    </div>

    <!-- 全局js -->
    <script src="H/js/jquery.min.js?v=2.1.4"></script>
    <script src="H/js/bootstrap.min.js?v=3.3.5"></script>
    <script src="H/js/jquery-ui-1.10.4.min.js"></script>
    <script src="javascripts/bootstrap-suggest.min.js"></script>
    <script src = 'javascripts/accountManage.js'></script>
</body>

</html>