<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>北京天德天远广告有限公司OA系统</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico"> 
    <link href="H/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="H/css/font-awesome.css?v=4.4.0" rel="stylesheet">

    <link href="H/css/animate.css" rel="stylesheet">
    <link href="H/css/style.css?v=4.0.0" rel="stylesheet"><base target="_blank">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h2>天德天远</h2>

            </div>
            <h3>请先登录</h3>

            <form class="m-t" role="form" action="api/loginCheck">
                <div class="form-group">
                    <input class="form-control" placeholder="用户名" required="" id = "userName">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="密码" required="" id = "password">
                </div>
                <button class="btn btn-primary block full-width m-b" id = 'submitBtn'>登 录</button>


                <p class="text-muted text-center"> <a href="javascript:alert('请与您的客户经理联系');"><small>忘记密码了？</small></a> | <a href="javascript:alert('请与您的客户经理联系');">注册一个新账号</a>
                </p>

            </form>
        </div>
    </div>

    <!-- 全局js -->
    <script src="H/js/jquery.min.js?v=2.1.4"></script>
    <script src="H/js/bootstrap.min.js?v=3.3.5"></script>
    <script src="H/js/jquery-ui-1.10.4.min.js"></script>
    <script src = "javascripts/login.js"></script>

</body>

</html>