<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>H+ 后台主题UI框架 - 时间轴</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link href="H/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="H/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="H/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="H/css/animate.css" rel="stylesheet">
    <link href="H/css/style.css?v=4.1.0" rel="stylesheet">
    <link href="javascripts/jPList/jplist.core.min.css" rel="stylesheet">
    <link href="stylesheets/orderManage.css?v=4.1.0" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-sm-12">
                <div class="ibox float-e-margins" id = 'timeLine'>
                    <div class="ibox-title" id = 'panel'>
                        <div class = 'form-group col-sm-1'>
                            <select class = 'form-control input-sm' id = 'year'>
                                <option value = '2015'>2015</option>
                                <option value = '2016' selected>2016</option>
                                <option value = '2017'>2017</option>
                            </select>
                        </div>
                        <div class = 'form-group col-sm-1'>
                            <select class = 'form-control input-sm' id = 'month'>
                                <option value = '1'>1</option>
                                <option value = '2'>2</option>
                                <option value = '3'>3</option>
                                <option value = '4'>4</option>
                                <option value = '5'>5</option>
                                <option value = '6'>6</option>
                                <option value = '7'>7</option>
                                <option value = '8'>8</option>
                                <option value = '9'>9</option>
                                <option value = '10'>10</option>
                                <option value = '11'>11</option>
                                <option value = '12'>12</option>
                                <option value = '0'>全年</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <input type="text" class="form-control" id="customer" placeholder = '客户姓名'>
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <a href = 'javascript:void(0);' class = 'btn btn-primary' id = 'searchBtn'>查找</a>

                        <div class="col-sm-2 pull-right">
                            <input type="text" placeholder="结果内搜索" class="form-control" data-path=".search" data-control-type="textbox" data-control-name="title-filter" data-control-action="filter">
                        </div>
                        <ul 
                                class="pagination jplist-pagination pagination pull-right pagination-lg"
                                data-control-type="boot-pagination" 
                                data-control-name="paging" 
                                data-control-action="paging"
                                data-range="5"
                                data-mode="">
                        </ul>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <div 
                            class="dropdown jplist-items-per-page pull-right"
                            data-control-type="boot-items-per-page-dropdown" 
                            data-control-name="paging" 
                            data-control-action="paging">
                            <button 
                                class="btn btn-primary dropdown-toggle" 
                                type="button" 
                                data-toggle="dropdown" 
                                id="dropdown-menu-1"
                                aria-expanded="true">               
                                <span data-type="selected-text">每页显示</span>
                                <span class="caret"></span>                     
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-menu-1">
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#" data-number="5">每页显示5订单</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#" data-number="10" data-default="true">每页显示10订单</a>
                                </li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#" data-number="20">每页显示20订单</a>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation">
                                    <a role="menuitem" tabindex="-1" href="#" data-number="all">全部订单</a>
                                </li>
                            </ul>                         
                        </div>
                        <select 
                           class="jplist-select" 
                           data-control-type="sort-select" 
                           data-control-name="sort" 
                           data-control-action="sort">
                                <option data-path=".orderId" data-order="asc" data-type="text">正序</option>
                                <option data-path=".orderId" data-order="desc" data-type="text">倒序</option>
                        </select>
                    </div>
                    <div class="ibox-content timeline timeLineContent scroll">
                        {{{orderData}}}
                    </div><!-- end of timeLineContent -->
                </div><!-- end of id = timeLine -->
            </div><!-- end of col-sm-12 -->
        </div>
    </div>

    <!-- 全局js -->
    <script src="H/js/jquery.min.js?v=2.1.4"></script>
    <script src="H/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="javascripts/bootstrap-suggest.min.js"></script>

    <!-- 自定义js -->
    <script src="H/js/content.js?v=1.0.0"></script>
    <script src="javascripts/jPList/jplist.core.min.js"></script>
    <script src="javascripts/jPList/jplist.textbox-filter.min.js"></script>
    <script src="javascripts/jPList/jplist.padination-bundle.min.js"></script>
    <script src="javascripts/jPList/jplist.sort-bundle.min.js"></script>
    <script src="H/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="javascripts/orderManage.js"></script>


</body>

</html>
